/ABANTO.csv
/AGURAIN.csv
/ALGORTA_(BBIZI2).csv
/ALONSOTEGI.csv
/ANORGA.csv
/ARRAIZ_(Monte).csv
/ATEGORRIETA.csv
/AVDA._TOLOSA.csv
/AZPEITIA.csv
/BANDERAS_(meteo).csv
/BARAKALDO.csv
/BASAURI.csv
/BEASAIN.csv
/BOROA_METEO.csv
/CASTREJANA.csv
/DURANGO.csv
/EASO.csv
/ELCIEGO.csv
/ERANDIO.csv
/EUROPA.csv
/FARMACIA.csv
/FERIA_(meteo).csv
/HERNANI.csv
/JAIZKIBEL.csv
/LARRABETZU.csv
/LAS_CARRERAS.csv
/LEZO.csv
/LLODIO.csv
/LOS_HERRAN.csv
/MAZARREDO.csv
/MONDRAGON.csv
/MONTORRA.csv
/MUNDAKA.csv
/MUNOA.csv
/MUSKIZ.csv
/Mª_DIAZ_HARO.csv
/NAUTICA.csv
/PAGOETA.csv
/PUYO.csv
/SANGRONIZ.csv
/SANTURCE.csv
/SAN_JULIAN.csv
/SERANTES.csv
/SESTAO.csv
/TOLOSA.csv
/URKIOLA.csv
/VALDEREJO.csv
/ZALLA.csv
/ZELAIETA_PARQUE.csv
/ZIERBENA_(Puerto).csv
/ZUMARRAGA.csv
